#app{
  background-color: #ffffff !important;
}
.bundleGroup div {
  width: 500px !important;
  max-width: 100%;
}
.offer {
  position: relative;
  top: 0;
  margin: 10px;
}
.bundleImage svg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25% !important;
}
.bundleImage img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* width: 25% !important; */
}
.makeNewOfferBtn {
  display: block;
  margin-left: auto;
  margin-right: 0%;
}
.previewDiv {
  width: 33%;
  height: 400px;
  max-width: 450px;
  overflow-x: hidden;
}
.previewHead {
  width: 100%;
  height: 45px;
  padding: 5px;
}

.headSection {
  border-bottom: 2px solid #7dd3fc;
}

.bodySection{
    padding: 10px;
}
.products{
    position: relative;
    width: 66%;
    height: fit-content;
}
.product{
    position: relative;
    border: 0;
    border-bottom: 0px solid #d1d5db !important;
    /* border: 1px solid #cfcfcf; */
    padding: 15px;
}
.product:last-child{
  border-bottom: 1px solid #d1d5db !important;

}
.product::after{
    content: '+';
    position: absolute;
    right: 50%;
    font-size: 25px;
    background-color: #dfe3e8;
    border-radius: 50%;
    /* border-bottom: 0px solid #dfe3e8; */
    color: #a4afba;
    padding: 4px 7px;
    font-weight: 500;
    margin: 2px 0px;
    z-index: 1;
}
.product .productDivBtn{
position: absolute;
right: 2%;
font-size: 20px;
}
.add_discount_box{
  display: flex;
  gap: 2px;
}
.css-1nmdiq5-menu{
z-index: 5 !important;
}

.itemBox{
  border: 2px solid #9da1a6;
}
.totalBox{
  border-top: 2px solid #9da1a6;
}
.previewBody{
  /* overflow: hidden; */
  overflow-x: scroll !important;
}